@{
    ViewData["Greeting"] = "Greeting from IConfiguration";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure-App Services-Git deployed</h1>
    <h3>We are learning Azure for Dot Net</h3>
</div>
